<form class="mt-4" name="container-form" method="POST" action="/games/handle-form-actions">
  <div>
    <h3>My Game</h3>
    <a href="/save/trash/games">Trash ({{deleteCount}})</a>
  </div>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Select all
      </label>
    </div>

    <select class="form-select form-select-sm checkbox-select-all-options" name="action" required>
      <option value="">-- Pick option --</option>
      <option value="delete">Delete</option>
    </select>
    <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Perform</button>
  </div>

  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">No.</th>
        <th scope="col">Tên</th>
        <th scope="col">Thể loại</th>
        <th scope="col" colspan="2">Created at</th>
      </tr>
    </thead>
    <tbody>
      {{#each game}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gameIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.Type}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/games/{{this._id}}/edit" class="btn btn-link">Update</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteGameModal" data-id="{{this._id}}">Delete</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Nothing here
          <a href="/games/create">Thêm Game</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="add-game"><a href="/games/create">Thêm Game</a></div>
</form>

<!-- Confirm delete -->
<div id="deleteGameModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wait!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this game?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-game" type="button" class="btn btn-danger">Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete hidden form -->
<form name="delete-game-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let containerForm = document.forms['container-form']
    let gameId
    let deleteForm = document.forms['delete-game-form']
    let btnDeleteGame = document.getElementById('btn-delete-game')
    let checkboxAll = $('#checkbox-all')
    let gameItemCheckbox = $('input[name="gameIds[]"]')
    let checkAllSubmitBtn = $('.check-all-submit-btn')

    // When confirm clicked
    $('#deleteGameModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      gameId = button.data('id')
    })

    // When delete game clicked
    btnDeleteGame.onclick = () => {
      deleteForm.action = '/games/' + gameId + '?_method=DELETE'
      deleteForm.submit()
    }

    // Checkbox all change
    checkboxAll.change(function () {
      let isCheckedAll = $(this).prop('checked')
      gameItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    // Game item change
    gameItemCheckbox.change(function () {
      let isCheckedAll = gameItemCheckbox.length === $('input[name="gameIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    // Check all perform button clicked
    checkAllSubmitBtn.on('click', function (e) {
      let isSubmitable = $(this).hasClass('disabled')
      if (isSubmitable) {
        e.preventDefault()
      }
    })

    renderCheckAllSubmitBtn = () => {
      let checkedCount = $('input[name="gameIds[]"]:checked').length
      if (checkedCount) {
        checkAllSubmitBtn.removeClass('disabled')
      } else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }
  })
</script>
