<form class="mt-4" name="container-form" method="POST" action="/games/handle-form-actions">
    <div>
      <h3>My Game</h3>
      <a href="/save/trash/games">Trash ({{deleteCount}})</a>
    </div>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Select all
        </label>
      </div> 

      <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
        <option value="">-- Pick option --</option>
        <option value="delete">Delete</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn mt-1 disabled">Perform</button>
    </div>

        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">No.</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col" colspan="2">Created at</th>
                </tr>
            </thead>
            <tbody>
                {{#each game}}
                <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gameIds[]" value="{{this._id}}">
                      </div> 
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.Type}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/games/{{this._id}}/edit" class="btn btn-link">Update</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteGameModal">Delete</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                  <td colspan="5" class="text-center">
                    Nothing here :(   
                    <a href="/games/create">Add Game</a>
                  </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</form>

{{!-- confirm delete --}}
<div id = "deleteGameModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wait !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this game ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-game" type="button" class="btn btn-danger">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-game-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', () =>{
        let containerForm = document.forms['container-form']
        let gameId
        let deleteForm = document.forms['delete-game-form']
        let btnDeleteGame= document.getElementById('btn-delete-game')
        let checkboxAll = $('#checkbox-all')
        let gameIteamCheckbox = $('input[name="gameIds[]"]')
        let checkAllSubmitBtn = $('.check-all-submit-btn')
        //when confirm clicked
        $('#deleteGameModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            gameId = button.data('id')
        })
        //when delete game clicked
        btnDeleteGame.onclick = () => {
            deleteForm.action = '/games/' + gameId + '?_method=DELETE'
            deleteForm.submit()
        }
        //checkbox all change
        checkboxAll.change(function() {
          let isCheckedAll = $(this).prop('checked')
          gameIteamCheckbox.prop('checked', isCheckedAll)
          renderCheckallSubmitBtn()
        })
        //game item change
        gameIteamCheckbox.change(function(){
          let isCheckedAll = gameIteamCheckbox.length === $('input[name="gameIds[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckallSubmitBtn()
        })
        //check all perform button clicked
        checkAllSubmitBtn.on('submit', function(e){
          let isSubmitable = $(this).hasClass('disabled')
          if(isSubmitable){
            e.preventDefault()
          }
        })
        //re-render check all perform button
        renderCheckallSubmitBtn = () => {
          let checkedCount = $('input[name="gameIds[]"]:checked').length
          if(checkedCount){
            checkAllSubmitBtn.removeClass('disabled')
          }else checkAllSubmitBtn.addClass('disabled')
        }
    })
</script>