<div class="mt-4">
    <h3>Edit Game</h3>
    <form class="mt-4" method="POST" action="/games/{{game._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên Game</label>
            <input type="text" class="form-control" value="{{game.name}}" id="name" name = "name">
        </div>
        <div class="form-group">
            <label for="Publisher">Nhà phát hành</label>
            <input type="text" class="form-control" value="{{game.Publisher}}" id="Publisher" name = "Publisher">
        </div>
        <div class="form-group">
            <div class="r_date">
            <div class="u_date">
                <label for="Release_date">Ngày phát hành</label>
                <input type="date" class="form-control" value="{{game.Release_date}}" id="Release_date" name = "Release_date">
            </div>
            <div class="u_price">
                <label for="price">Giá</label>
                <input type="number" class="form-control" value="{{game.price}}" id="price" name = "price">
            </div>
            </div>
        </div>

        <div class="form-group">
             <div class="cap">
                <label for="Capacity">Dung lượng</label>
                <input type="text" class="form-control" value="{{game.Capacity}}" id="Capacity" name = "Capacity">
             </div>
            <div class="cap">
                <label for="Configuration">Cấu hình</label>
                <input type="text" class="form-control" value="{{game.Configuration}}" id="Configuration" name = "Configuration">
            </div>
            <div class="cap">
                <label for="Development">Dòng game:</label>
                <label>{{game.Development}}</label>
                <select id="Development"  name = "Development">      
                    <option>Indie</option>
                    <option>Bom Tấn (AAA) </option>
                </select>
             </div>
        </div>
        <div class="form-group">
            <label for="Content">Nội dung</label>
            <textarea class="form-control" id="Content" name = "Content">{{game.Content}}</textarea>
        </div>
        <div class="form-group" >
            <div class="cate" style="margin-bottom:10px;">
                <div class="type">
                    <label for="Type">Thể loại:</label>
                    <label style="margin-right:400px;">{{game.Type}}</label>
                        {{#each category}}
                        <input type="checkbox" name = "Type" value="{{this.name}}">   
                            <label>{{this.name}}</label>      
                        </input>
                        {{/each}}
                </div>
                <div class="lang">
                    <label for="Language">Ngôn ngữ:</label>
                    <label>{{game.Language}}</label> 
                    <div>
                    <input type="checkbox" name = "Language" value="Tiếng Anh">   
                        <label>Tiếng Anh</label>      
                    </input>      
                    <input type="checkbox" name = "Language" value="Tiếng Việt">   
                        <label>Tiếng Việt</label>      
                    </input>   
                    <input type="checkbox" name = "Language" value="Tiếng Trung">   
                        <label>Tiếng Trung</label>      
                    </input>     
                    <input type="checkbox" name = "Language" value="Tiếng Nhật">   
                        <label>Tiếng Nhật</label>      
                    </input>   
                    <input type="checkbox" name = "Language" value="Tiếng Pháp">   
                        <label>Tiếng Pháp</label>      
                    </input>   
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Filedl">Link Download</label>
            <input type="text" class="form-control" value="{{game.Filedl}}" id="Filedl" name = "Filedl">
        </div>  
        <div class="form-group">
            <label for="Image">Image</label>
            <textarea class="form-control" id="Image" name = "Image">{{game.Image}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>