<div class="mt-4">
    <div class="row">
            <div class="col-sm-6 col-lg-4" >
                <div class="card-item">
                    <img class="card-img-top" src="{{game.Image}}" alt="{{game.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <p class="card-text">Nhà phát hành: {{game.Publisher}}</p>
                        <p class="card-text">Ngày phát hành: {{game.Release_date}}</p>
                        <p class="card-text">Thể loại: {{game.Type}}</p>
                        <p class="card-text">Ngôn ngữ: {{game.Language}}</p>
                        <p class="card-text">Dung lượng: {{game.Capacity}}</p>
                        <p class="card-text">Cấu hình: {{game.Configuration}}</p>
                        <p class="card-text">Dòng game: {{game.Development}}</p>
                        <a href="{{game.Filedl}}" target="_blank" class="btn btn-primary">Download</a>
                 </div>
            </div>
        </div>
    </div>
</div>