<!-- Header Section Begin -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="/">
            <img
              src="https://res.cloudinary.com/dca4pmvud/image/upload/v1687773641/logo_jwcfid.png"
              alt="logo"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu">
            <ul>
              <li class="active"><a href="/">Trang chủ</a></li>
              <li><a href="/category">Games
                  <span class="arrow_carrot-down"></span></a>
                <ul class="dropdown">
                  {{#each categorys}}
                    <li><a href="/category/{{this.name}}">{{this.name}}</a></li>
                  {{/each}}
                </ul>
              </li>
              <li><a href="/category/Việt hóa">Việt Hóa</a></li>
              <li><a
                  href="/category/Online + Co-op + Multiplayer"
                >Online</a></li>
              <li><a href="/category/Free">Miễn Phí</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="header__right">
          {{#if user.IsAdmin}}
            <span></span>
          {{else}}
            <div class="cart">
              <a href="/cart/show"><i class="fa fa-bag-shopping"></i></a>
            </div>
          {{/if}}
          <div class="drowdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i
                class="fa-solid fa-user"
                style="color: aliceblue;"
              >{{user.name}}</i>
              {{!-- <span>{{user.name}}</span> --}}
            </a>
            <ul class="dropdown-menu">
              {{#if user.IsAdmin}}
                <li><a
                    class="dropdown-item"
                    href="/save/stored/games"
                  >Stored</a></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
              {{else}}
                <li><a class="dropdown-item" href="/cart/show">Cart</a></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>